@model rpi_web_e.Models.Device


<br>
<table class="table table-bordered" style="table-layout:inherit">
    <tbody>
        <tr>
            <td style="width:20%">@Html.DisplayNameFor(a => a.DeviceLocation)</td>
            <td>@Html.DisplayFor(a => a.DeviceLocation)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(a => a.Description)</td>
            <td>@Html.DisplayFor(a => a.Description)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(a => a.DefaultEndpointIP)</td>
            <td>@Html.DisplayFor(a => a.DefaultEndpointIP)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(a => a.UniqueID)</td>
            <td>@Html.DisplayFor(a => a.UniqueID)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(a => a.Name)</td>
            <td>@Html.DisplayFor(a => a.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(a => a.EndpointMAC)</td>
            <td>@Html.DisplayFor(a => a.EndpointMAC)</td>
        </tr>
    </tbody>
</table>


@Ajax.ActionLink("Edit", "Edit", new { id = Model.ID }, new AjaxOptions { UpdateTargetId = "partialED", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary" })

@Ajax.ActionLink("Delete", "Delete", new { id = Model.ID }, new AjaxOptions { UpdateTargetId = "DetailsList", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-danger" })