@model rpi_web_e.Models.Device

        @Html.HiddenFor(m => m.ID)
        <br>
        <table class="table table-bordered" style="table-layout:inherit">
            <tbody>
                <tr>
                    <td style="width:20%">@Html.DisplayNameFor(a => a.DeviceLocation)</td>
                    <td>@Html.TextBoxFor(a => a.DeviceLocation, new {@class = "form-control" }) 
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(a => a.Description)</td>
                    <td>@Html.TextBoxFor(a => a.Description, new {@class = "form-control" })</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(a => a.DefaultEndpointIP)</td>
                    <td>@Html.TextBoxFor(a => a.DefaultEndpointIP, new {@class = "form-control" })</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(a => a.UniqueID)</td>
                    <td>@Html.TextBoxFor(a => a.UniqueID, new {@class = "form-control" })</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(a => a.Name)</td>
                    <td>@Html.TextBoxFor(a => a.Name, new {@class = "form-control" })</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(a => a.EndpointMAC)</td>
                    <td>@Html.TextBoxFor(a => a.EndpointMAC, new {@class = "form-control" })</td>
                </tr>
            </tbody>
        </table>


       @Ajax.ActionLink("Save", "Edit", Model, new AjaxOptions { UpdateTargetId = "partialED", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }, new { @class = "btn btn-primary" })        
